.Part{
    width: 100%;
    height: auto;
    padding: 25px 30px 25px 30px;
    display: flex;
    position: relative;
    flex-direction: column;
}
.Part-Body{
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 30px;
    flex-wrap: wrap;
}
.P img{
    width: 100px;
}
.P{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    flex-direction: column;
    width: 20%;
    border: 1px solid #DC3E48;
    border-radius: 16px;
    padding: 20px;
}